body{
    background-image: url(../images/flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.generator{
    padding-top: 50px;
}

h1,h2{
    color: rgb(136, 134, 9);
}
.text{
    color: white;
    font-size: 20px;
    font-weight: 400;
    align-content: center;
}

.form-control{
    width:30%;
    margin-right: 20%;
}
#frm1{
    margin-left: 20%;
    padding-top: 20px;
}
